html{
    font-family: 'Roboto Condensed';
    font-size: 16px;
}
body{
    margin: 0;
    background-image: linear-gradient( 135deg, #bfe8e3 10%, #d0cfea 100%);
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.main-container{
    width: 100%; /* (3)Occupies the full width of the grid container(2) */
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}
.main-grid{
    width: 100%;
}
.grid{
    max-width: 960px; /* (2)Describes the grid size - this sets the baseline width */
    margin: 40px auto;
    margin-top: 140px;
}
input.search-bar{
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: light;
    line-height: 1.6;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
}
::-webkit-input-placeholder { /* Microsoft Edge */
    color: #000;
    font-weight: 300;
  }
input.search-bar:focus{
    outline: none;
}
.hdr{
    background: #fff;
    background: #fc0;
    max-height: 70px;
    padding: 20px;
    line-height: 1.6;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
}
.hdr-logo{
    align-self: center;
    display: flex;
    cursor: pointer;
}
.hdr-navigation-menu ul{
    display: none;
}
.nav-link{
    margin: 0 16px;
    padding: 0 10px;
}
.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.service-tile{
    display: flex;
    flex: 1;
    flex-basis: 100%;
    border: 0.5px solid #eee;
    margin: 16px;
    background: #fff;
    border-radius: 8px;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.service-img-container{
    width: 30%;
    padding: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
}
.service-img-container img{
    width: 50px;
    max-width: 50px;
    
}
.service-desc-container{
    width: 70%;
    padding: 20px;
    text-align: left;
}
.service-desc-container h1{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.main-search{
    width: 80%;
    margin: 0 auto;
}
.filter-container{
    list-style-type: none;
    padding: 0;
}
.filter-container li{
    display: flex;
    flex-direction: row;
    font-weight: 300;
}
.filter-container input{
    margin-right: 10px;
}
.filter-list{
    display: none;
}
.action-btn{
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 0;
    width: 100%;
    margin-top: 40px;
    background: #fc0;
    cursor: pointer;
}
.user-avatar{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.header-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-avatar img{
    width: 40px;
    cursor: pointer;
}
.hamburger{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.footer{
    /* height: 50px; */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #000;
    color: #fff;
    padding: 16px 0;
    text-align: center;
}
.hdr-logo{
    width: 25px;
    transform: scale(3);
    margin-left: 10px;
}
.modal-container{
    width: 100%;
    height: 100%;
}
.modal-images{
    display: flex;
    width: 75%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.modal-images img{
    width: 75%;
    height: auto;
}

@media screen and (min-width: 768px){
    .services-list{
        width: 80%; /* The Actual Service tiles Container - Occupies 80% of the main-container(3) width */
    }
    .filter-list{
        width: 20%; /* The Filters section - Occupies 20% of the main-container(3) width */
    }
    .service-tile{
        flex-basis: 33%;
        flex-direction: column;
        padding: 1rem;
        min-height: 200px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
    .service-img-container{
        width: 100%;
    }
    .service-desc-container{
        width: 100%;
        padding: 20px 0;
    }
    .service-desc-container h1{
        /* text-align: center; */
    }
    .filter-list{
        display: block;
    }
    .filter-list h1{
        margin-bottom: 16px;
    }
    input.search-bar{
        padding-left: 1rem;
    }
    .main-grid{
        width: 960px;
        margin: 0 auto;
    }
    .service-tile:hover{
        transform: scale(1.05)
    }
    .hamburger{
        display: none;
    }
    .hdr-navigation-menu{
        display: flex;
    }
    .hdr-navigation-menu ul{
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-basis: 10%;
        list-style-type: none;
        margin: 0;
        align-self: center;
    }    


    .modal-container{
        width: 100%;
        height: 100%;
    }
    .modal-images{
        display: flex;
        width: 960px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .modal-images img{
      width: 400px;
      height: 400px;
    }
}


/* Code to achieve the disappearing animation */
@keyframes myAnimation{
    0%{
      opacity: 1;
      transform: scale(1);
    }
    50%{
      opacity: 1;
      transform: scale(1);
    }
    100%{
      display: none;
      opacity: 0;
      transform: scale(0);
    }
  }
  
  #fader{
      animation-name: myAnimation;
      animation-duration: 4000ms;
      animation-fill-mode: forwards;
  }
  .modal-window{
      position: fixed; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fc0;
      background-image: linear-gradient( 135deg, #bfe8e3 10%, #d0cfea 100%);
      z-index: 10;
  }